
*.db
FYP/Assets/StreamingAssets/PlayerTable.db.meta
FYP/Assets/StreamingAssets/BuildingTable.db.meta
FYP/Assets/StreamingAssets/BackpackTable.db.meta
FYP/Assets/StreamingAssets/AnimoTable.db.meta
*.db
